.game-button {
    font-size: 80px;
    padding: 12px;
    border: 1px;
    background-color: white;
    height: 150px;
    width: 150px;
}

.border-right {
    border-right: 5px solid rgb(75, 75, 75);
}

.border-base {
    border-bottom: 5px solid rgb(75, 75, 75);
}
